@import '../variables.scss';

.Person {
    position: relative;
    width: 485px;
}
.Back {
    align-items: flex-end;
    background-color: $third-color;
    display: flex;
    height: 564px;
    justify-content: center;
    padding-bottom: 23px;
    width: 366px;
}
.Text {
    @include eng-title;
    left: 202px;
    position: absolute;
    top: 67px;
}
.Skills {
    align-items: center;
    background-color: $primary-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 564px;
    padding: 30px;
    width: 786px;
}
