@import '../variables.scss';

.Container {
    @include rus-text;
    align-items: center;
    background-color: $primary-color;
    display: flex;
    flex-wrap: wrap;
    min-height: 266px;
    margin-top: 250px;
    padding-left: 70px;
    flex-wrap: wrap;
}
.ButtonBlock {
    height: 106px;
    position: relative;
}
.Button {
    @include rus-text;
    background: $secondary-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 60px;
    line-height: 60px;
    margin-left: 30px;
    position: absolute;
    text-align: center;
    top: 23px;
    transition: all 0.2s ease;
    width: 202px;
    &:hover {
        background: $secondary-dark-color;
    }
    &:active {
        box-shadow: none;
        top: 27px;
    }
}
