.Background {
    align-items: flex-end;
    background-size: cover;
    background-image: url(../images/back.jpg);
    display: flex;
    font-family: 'Cutive Mono', monospace;
    font-size: 48px;
    height: 362px;
    justify-content: flex-end;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
    padding: 35px;
}
