@import '../variables.scss';

.Container {
    margin: 40px 40px 0 40px;
}

.Background {
    @include eng-title;
    align-items: flex-end;
    background-size: cover;
    background-image: url(../images/back.jpg);
    display: flex;
    height: 362px;
    justify-content: flex-end;
    padding: 35px;
}
