@import '../variables.scss';

.Item {
    @include rus-text;
    border-radius: 7px;
    height: 76px;
    line-height: 76px;
    text-align: center;
    width: 318.75px;
    transition: background 0.5s ease;
    &:hover {
        background: $primary-transparent-color;
    }
}
.ItemActive {
    background: $primary-color;
    &:hover {
        background: $primary-color;
    }
}
