@import '../../variables.scss';

.Container {
    @include rus-text;
    align-items: center;
    background-color: $primary-color;
    display: flex;
    flex-wrap: wrap;
    min-height: 266px;
    margin-top: 250px;
    padding-left: 70px;
    @media (max-width: 575.98px) {
        padding: 20px;
    }
}
