@import '../../variables.scss';

.Container {
    @include rus-text;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    min-height: 266px;
    margin-top: 250px;
    padding: 40px;
    @media (max-width: 575.98px) {
        padding: 20px;
    }
}
.Design {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.Title {
    @include rus-text;
    font-weight: 500;
    margin-bottom: 15px;
}
.Item {
    margin-bottom: 7px;
    margin-left: 23px;
}
.Technologies {
    margin-bottom: 15px;
}
.GitHub {
    align-items: center;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
}
.Button {
    width: 202px;
}
