@import '../../variables.scss';

.Item {
    @include eng-text;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    width: 189.59px;
    height: 78px;
    @media (max-width: 1200px) {
        margin-bottom: 5px;
    }
}
