@import '../../variables.scss';

.Item {
    @include eng-text;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    height: 78px;
    justify-content: center;
    padding: 5px;
    width: 210px;
    @media (max-width: 1200px) {
        margin-bottom: 5px;
    }
}
.Logo {
    height: 25px;
    margin-right: 5px;
    width: 25px;
}
