@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: border-box;
    outline-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* react-responsive-carousel */
.thumbs {
    display: flex;
    justify-content: center;
}
.carousel .control-dots {
    bottom: -10px !important;
}
.dot {
    background-color: #faefc4 !important;
    opacity: 1 !important;
}
.dot.selected {
    background-color: #b7e0df !important;
}
.dot:hover {
    background-color: #b7e0df !important;
    cursor: pointer;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid #b7e0df !important;
    cursor: pointer;
}
.carousel-slider {
    margin: 0 auto !important;
    max-width: 520px !important;
}
.slide {
    background-color: #fff !important;
}
