$base-color: #b7e0df;
$primary-color: rgba($base-color, 0.5);
$primary-transparent-color: rgba($base-color, 0.2);
$secondary-color: #faefc4;
$secondary-dark-color: #ffd9ad;
$third-color: #f1f2ed;

@mixin eng {
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 0.05em;
}

@mixin eng-title {
    @include eng;
    font-size: 48px;
}

@mixin eng-text {
    @include eng;
    font-size: 24px;
}

@mixin rus {
    color: #000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
}

@mixin rus-title {
    @include rus;
    font-size: 36px;
    font-weight: 300;
}

@mixin rus-text {
    @include rus;
    font-size: 22px;
}
