@import '../../variables.scss';

.ButtonBlock {
    float: right;
    height: 106px;
    position: relative;
    z-index: 100;
    width: 202px;
}
.Button {
    @include rus-text;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 60px;
    line-height: 60px;
    margin-left: 30px;
    position: absolute;
    text-align: center;
    top: 0px;
    transition: all 0.2s ease;
    width: 202px;
    &_Yellow {
        background: $secondary-color;
        font-size: 16px;
        height: 36px;
        line-height: 36px;
        top: 33px;
        width: 130px;
        &:hover {
            background: $secondary-dark-color;
        }
        &:active {
            box-shadow: none;
            top: 37px;
        }
    }
    &_Blue {
        background: $primary-color;
        &:hover {
            background: $secondary-color;
        }
        &:active {
            box-shadow: none;
            top: 4px;
        }
    }
    &_Small {
        font-size: 16px;
        font-weight: 300;
        height: 36px;
        line-height: 36px;
        right: 0;
        width: 135px;
    }
    &_Tiny {
        font-size: 16px;
        height: 36px;
        line-height: 36px;
        width: 130px;
    }
}
